# Tuple

In [1]:

a = (1,2,3,4,5)
print(type(a))

b = 1,2,3,4,5
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [2]:
c = (1)
print(type(c))

d = (1,)
print(type(d))

<class 'int'>
<class 'tuple'>

In [3]:
e = 1 
print(type(e))

f = 1,
print(type(f))

<class 'int'>
<class 'tuple'>

# List

In [4]:
g = [1,2,3,4,5,6,67]
   # 0 1 2 3 4 5 6 
print(g[5])
print(type(g))

6
<class 'list'>

# set

In [5]:
h = {1,2,3,4,5,6,5,6,5,6,5}
print(h)
print(type(h))

{1, 2, 3, 4, 5, 6}
<class 'set'>

# Dictionary

In [11]:
i = {
    "name":"Ahmed Hassan",
    "Age": 26  
    }

print(i['name'])
print(type(i))

Ahmed Hassan
<class 'dict'>